<!DOCTYPE html>
<html>
  <head>
    <title>Circuitation</title>
  </head>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="css/animate.css" />

  <!-- Latest compiled and minified CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
    integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
    crossorigin="anonymous"
  />

  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
  />
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <style>
    .bgimg {
      background-image: url("/home/bg.jpg");
      background-size: 100% 100%;
      background-attachment: fixed;
      width: 100%;
      height: 1100px;
    }

    .ppq {
      width: 75px;
      height: 85px;
      margin-left: 50px;
      margin-top: 130px;
    }

    .hearderset {
      padding-top: 130px;
      box-sizing: border-box;
    }

    .hearderset h2 {
      font-size: 42px;
    }

    .hearderset h1 {
      font-size: 82px;
      font-weight: bold;
    }

    /*
    ................................circuits......................*/

    .circuits {
      padding: 100px 0px 60px;
      height: 1000px;
    }

    .circuits h1 {
      font-size: 50px;
      font-weight: bold;
    }

    .rowsetting {
      margin: 100px 0px;
    }

    .imgsetting {
      border-radius: 50%;
      height: 100px;
      width: 100px;
    }

    .fa-power-off {
      margin-top: 25px;
    }

    .rowsetting h2 {
      margin-top: 20px;
      font-weight: bold;
      font-size: 30px;
    }

    .rowsetting p {
      padding: 10px;
      color: #6c757d !important;
    }
    /*............................................portfolio........................................
    .portfolio{
      height: 1100px;
      width: 100%;
      padding: 100px 0px 50px;

    }

    .portfolio h1{
      font-size: 50px;
      font-weight: bold;
    }

    .card{
      margin-top: 40px;
    }
    */
    /*...........................................ourteam.........................................*/

    .ourteam {
      height: 1200px;
      padding: 100px 0px 60px;
      width: 100%;
    }

    .ourteam h1 {
      font-size: 50px;
      font-weight: bold;
    }

    .teamsetting {
      margin-top: 70px !important;
    }

    /*...........................................footer.........................................*/

    .footer {
      height: 50px;
    }

    .footer h6 {
      line-height: 50px;
    }

    /*...........................................responsive.........................................*/

    @media (min-width: 992px) {
    }

    @media (min-width: 768px) and (max-width: 991px) {
      .hearderset h2 {
        font-size: 42px;
      }

      .hearderset h1 {
        font-size: 62px;
        font-weight: bold;
      }

      .portfolio {
        height: 900px;
      }

      .ourteam {
        height: 1200px;
      }
    }

    @media (min-width: 575px) and (max-width: 767px) {
      .hearderset h2 {
        font-size: 42px;
      }

      .hearderset h1 {
        font-size: 55px;
        font-weight: bold;
      }

      .portfolio {
        height: 3000px;
      }

      .ourservices {
        height: 700px;
      }

      .ourteam {
        height: 2000px;
      }
    }

    @media (min-width: 480px) and (max-width: 574px) {
      .hearderset h2 {
        font-size: 32px;
      }

      .hearderset h1 {
        font-size: 50px;
        font-weight: bold;
      }

      .portfolio {
        height: 2700px;
      }

      .ourservices {
        height: 1000px;
      }

      .ourteam {
        height: 2000px;
      }
    }

    @media (max-width: 479px) {
      .hearderset h2 {
        font-size: 22px;
      }

      .hearderset h1 {
        font-size: 42px;
        font-weight: bold;
      }

      .ourservices {
        height: 1100px;
      }

      .portfolio {
        height: 2200px;
      }

      .ourteam {
        height: 2000px;
      }
    }
  </style>
  <body>
    <div class="bgimg">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <div class="container">
          <a href="" class="navbar-brand text-success font-weight-bold">C I R C U I T A T I O N</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#collapsenavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsenavbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a
                  href="#Home"
                  class="nav-link text-white"
                  name="scroll-to-Home"
                  id="scroll-to-Home"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#ourteam"
                  class="nav-link text-white"
                  name="scroll-to-ourteam"
                  id="scroll-to-ourteam"
                  >About us</a
                >
              </li>
              <li class="nav-item">
                <a href="" class="nav-link text-white" data-toggle="modal" data-target="#signup"
                  >Signup</a
                >
              </li>
              <li class="nav-item">
                <a href="" class="nav-link text-white" data-toggle="modal" data-target="#login"
                  >Login</a
                >
              </li>
              <li class="nav-item">
                <a href="" class="nav-link text-white"></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <img class="ppq" src="logo.png" />

      <div class="container text-center text-white hearderset" class="Home" name="Home" id="Home">
        <h2 class="text-secondary k"></h2>
        <br />
        <h1 class="display-2 text-success"></h1>
        <br />
        <h4 class="text-secondary"></h4>
        <br />
        <h6></h6>
      </div>
    </div>

    <!--................................................circuits............................-->

    <section class="container circuits text-center">
      <h1>CIRCUITS</h1>
      <p>Our Circuits are</p>

      <div class="row rowsetting">
        <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
          <div class="imgsetting d-block m-auto"><i class=""></i></div>

          <h2></h2>
          <p></p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
          <div class="imgsetting d-block m-auto bg-success">
            <i class="fa fa-power-off fa-3x text-white"></i>
          </div>

          <h2>Linear Power Supply</h2>
          <p>
            The Linear Power Supply is power supplying circuit which is used in electrical and
            electronic circuit to supply the DC power to the circuit. It consists of a step-down
            transformer, rectifier, a filter circuit and voltage regulator. The AC is always
            supplied with high voltage because it is economical to supply AC at high voltage.
          </p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
          <div class="imgsetting d-block m-auto"><i class=""></i></div>

          <h2></h2>
          <p></p>
        </div>
      </div>
    </section>

    <!--//////////////////////////////////////////portfolio////////////////////////////////////////-->

    <!-- <section class="portfolio bg-light text-center">
    <div class="container">
      <h1>PORTFOLIO</h1>
      <P>This is a ............</P>
      
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class="card">
            <img src="img/img2.jpg" class="card-img img-fluid">
            <div class="card-body">
              <h2 class="card-title">ABCD</h2>
              <p class="card-text">A..B..C..D..</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class="card">
            <img src="img/img8.jpg" class="card-img img-fluid">
            <div class="card-body">
              <h2 class="card-title">ABCD</h2>
              <p class="card-text">A..B..C..D..</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class="card">
            <img src="img/img2.jpg" class="card-img img-fluid">
            <div class="card-body">
              <h2 class="card-title">ABCD</h2>
              <p class="card-text">A..B..C..D..</p>
            </div>
          </div>
        </div>
      </div>


        <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class="card">
            <img src="img/img8.jpg" class="card-img img-fluid">
            <div class="card-body">
              <h2 class="card-title">ABCD</h2>
              <p class="card-text">A..B..C..D..</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class="card">
            <img src="img/img2.jpg" class="card-img img-fluid">
            <div class="card-body">
              <h2 class="card-title">ABCD</h2>
              <p class="card-text">A..B..C..D..</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class="card">
            <img src="img/img8.jpg" class="card-img img-fluid">
            <div class="card-body">
              <h2 class="card-title">ABCD</h2>
              <p class="card-text">A..B..C..D..</p>
            </div>
          </div>
        </div>
      </div>



    </div>
    

  </section>-->

    <!--//////////////////////////////////////////our amazing team////////////////////////////////////////-->

    <section class="ourteam" id="ourteam" name="ourteam">
      <div class="container text-center">
        <h1>OUR AMAZING TEAM</h1>
        <p>This is our amazing team</p>

        <div class="row teamsetting">
          <div class="col-lg-6 col-md-6 col-sm-10 col-12 d-block m-auto">
            <figure class="figure">
              <img
                src="public/ourteam/abhishek.jpeg"
                class="rounded-circle"
                alt="Cinque Terre"
                width="250"
                height="250"
              />
              <figcaption>
                <br /><br />
                <h4>Abhishekkumar Prasad</h4>
                <p class="figure-caption">Web Development & Designer</p>
              </figcaption>
            </figure>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-10 col-12 d-block m-auto">
            <figure class="figure">
              <img
                src="public/ourteam/akshay.jpg"
                class="rounded-circle"
                alt=""
                width="250"
                height="250"
              />
              <figcaption>
                <br /><br />
                <h4>Akshay Pande</h4>
                <p class="figure-caption">Web & Database Devlopment</p>
              </figcaption>
            </figure>
          </div>
        </div>

        <div class="row teamsetting">
          <div class="col-lg-6 col-md-6 col-sm-10 col-12 d-block m-auto">
            <figure class="figure">
              <img
                src="public/ourteam/Shashank.jpeg"
                class="rounded-circle"
                alt="Cinque Terre"
                width="250"
                height="250"
              />
              <figcaption>
                <br /><br />
                <h4>Shashank Nair</h4>
                <p class="figure-caption">Simulation</p>
              </figcaption>
            </figure>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-10 col-12 d-block m-auto">
            <figure class="figure">
              <img
                src="public/ourteam/Anushka.jpeg"
                class="rounded-circle"
                alt=""
                width="250"
                height="250"
              />
              <figcaption>
                <br /><br />
                <h4>Anushka Sinha</h4>
                <p class="figure-caption">Power Electronics</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </section>

    <!--//////////////////////////////////////////footer////////////////////////////////////////-->

    <footer class="footer">
      <h6 class="text-center">END</h6>
    </footer>

    <!--------------------------------------Signup Modal-------------------------------------------->
    <div
      class="modal fade"
      name="signup"
      id="signup"
      tabindex="-1"
      role="dialog"
      aria-labelledby="signup"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" name="signup" id="signup">
              <i class="fa fas fa-user-plus">&nbsp;&nbsp;</i>Sign Up
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/savedetails" method="post">
              <div class="col-md-12 mb-8 was-validated">
                <label for="Name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  name="name"
                  id="Name"
                  required
                />

                <div class="invalid-feedback">Please enter your name.</div>
              </div>
              <br />

              <div class="col-md-12 mb-8 was-validated">
                <label for="User Name"><i class="fa fas fa-user">&nbsp;&nbsp;</i> User Name</label>
                <input
                  type="Text"
                  class="form-control"
                  placeholder=""
                  name="username"
                  id="User Name"
                  required
                />
                <div class="invalid-feedback">Please enter your User Name.</div>
              </div>
              <br />

              <div class="col-md-12 mb-8 was-validated">
                <label for="password"
                  ><i class="fa fas fa-unlock-alt">&nbsp;&nbsp;</i> Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  placeholder=""
                  name="password"
                  id="password"
                  required
                />
                <div class="invalid-feedback">Please enter your Password.</div>
              </div>
              <br />

              <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--------------------------------login Modal --------------------------------->

    <div
      class="modal fade"
      name="login"
      id="login"
      tabindex="-1"
      role="dialog"
      aria-labelledby="login"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" name="login" id="login">
              <i class="fa fa-folder-open">&nbsp;&nbsp;</i>Login
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="was-validated" action="/login" method="POST">
              <div class="col-md-12 mb-8">
                <label for="User Name"><i class="fa fas fa-user">&nbsp;&nbsp;</i> User Name</label>
                <input
                  type="Text"
                  class="form-control"
                  placeholder=""
                  name="username"
                  id="User Name"
                  required
                />
                <div class="invalid-feedback">Please enter your User Name.</div>
              </div>
              <br />

              <div class="col-md-12 mb-8">
                <label for="password"
                  ><i class="fa fas fa-unlock-alt">&nbsp;&nbsp;</i> Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  placeholder=""
                  name="password"
                  id="password"
                  required
                />
                <div class="invalid-feedback">Please enter your Password.</div>
              </div>
              <br /><br />

              <button type="submit" class="btn btn-primary">Login</button>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
