def major ():
    v4=()
    v_in = ()
    v_in_min = ()
    v_rms = ()
    f = ()
    v_out = ()
    i_out = ()
    v_rpp = ()
    dp = (2.5)
    v_rpp_in_max = ()
    RR = ()
    i_d_avg = ()
    i_d_peak = ()
    va = ()
    Ta = ()
    Tj_max = ()
    Pd = ()
    T_ja_device = ()
    T_ja_cal = ()
    T_jc = ()
    T_chs = ()
    T_hsa = ()
    r_317 = ()
    r_337 = ()
    v_from = ()
    v_to = ()

    v_in_min = (v_out + dp + 1);

    v_rpp_in_max = (v_rpp * ((10 ^ RR) ^ 1 / 20));

    v_in_max = (v_in_min + (v_rpp_in_max / 2) + 2 + 1);

    c = 1 /(2 * f * v_rpp_in_max);

    v_rpp_in_max = 1 /( 2 * f * c);

    i_d_avg = (1 * (1 + (2 * float(3.14)(v_in_max)) / (2 * v_rpp_in_max)) ^ 0.5);

    i_d_peak = (1 + (2 * float(3.14)(v_in_max / 2 * v_rpp_in_max)));

    v_rms = (((v_in_max + 2 + v_rpp) * (v_in + 10)) / (1.414 * 0.95 * (v_in - 10)));

    va =( v_rms * i_d_avg);

    n = (v_in / v_rms);

    Pd = (v_in_min - v_out);

    T_ja_cal = ((Tj_max - Ta) / (Pd));
    if T_ja_cal < T_ja_device:
        T_hsa = (T_ja_cal - T_jc - T_chs);
    #  print("select heat-sink of T_HSA less than equal to" )


def constant():
    vout = ()
    sign = ()
    if (vout > 0):
        sign = 8;
    elif (vout < 0):
        sign = 9;
    if (vout == 5):
        '''''print(7, sign, 0, 5)'''''
        major()
    else:
        if (vout == 12):
            '''''print(7, sign, 1, 2)'''''

            major()
        elif (vout == 15):
            '''''print(7, sign, 1, 5)'''''
            major()

        else:
            if (sign == 8):
               ''''' print("LM317")'''''
               major()
               R= ((vout/1.25) - 1);
            else:
               ''''' print("LM337")'''''
               major()
               R = (-1 - (vout / 1.25));




def variable(**var):
    vout = ()
    sign = ()
    if (vout > 0):
        sign = 8;
    elif (vout < 0):
        sign = 9;
    else:
        '''''print("lm317 and lm337")'''''
        major()
        r_317=((vout / 1.25) - 1);
        r_337 = (-1 - (vout / 1.25));
        '''''print(r)'''''
    if (vout == 5):
        '''''print(7, sign, 0, 5)'''''
        major()
    else:
        if (vout == 12):
            '''''print(7, sign, 1, 2)'''''
            major()
        elif (vout == 15):
            '''''print(7, sign, 1, 5)'''''
            major()

        else:
            if (sign == 8):
                '''''print("LM317")'''''
                major()
                r_317 = ((vout / 1.25) - 1);

            else:
                '''''print("LM337")'''''
                major()
                r_337 = (-1 - (vout / 1.25));









