<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    <!--main start -->
  

</head>
<body>
<!--Section: Live preview-->
<section class="form-light">

  <!--Form without header-->
  <div class="card">

    <div class="card-body mx-4">

      <!--Header-->
      <div class="text-center">
        <h3 class="pink-text mb-5"><strong>Sign up</strong></h3>
      </div>

      <!--Body-->
      <div class="md-form">
        <input type="text" id="Form-email2" class="form-control">
        <label for="Form-email2">Your email</label>
      </div>

      <div class="md-form pb-3">
        <input type="password" id="Form-pass2" class="form-control">
        <label for="Form-pass2">Your password</label>
        <div class="form-check my-4">
          <input class="form-check-input" type="checkbox" id="defaultCheck12">
          <label for="defaultCheck12" class="grey-text">Accept the<a href="#" class="blue-text"> Terms and
              Conditions</a></label>
        </div>
      </div>

      <!--Grid row-->
      <div class="row d-flex align-items-center mb-4">

        <!--Grid column-->
        <div class="col-md-3 col-md-6 text-center">
          <button type="button" class="btn btn-pink btn-block btn-rounded z-depth-1">Sign up</button>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6">
          <p class="font-small grey-text d-flex justify-content-end">Have an account? <a href="#"
              class="blue-text ml-1"> Log in</a></p>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>

    <!--Footer-->
    <div class="footer pt-3 mdb-color lighten-3">

      <div class="row d-flex justify-content-center">
        <p class="font-small white-text mb-2 pt-3">or Sign up with:</p>
      </div>

      <div class="row mt-2 mb-3 d-flex justify-content-center">
        <!--Facebook-->
        <a class="fa-lg p-2 m-2 fb-ic"><i class="fab fa-facebook-f white-text fa-lg"> </i></a>
        <!--Twitter-->
        <a class="fa-lg p-2 m-2 tw-ic"><i class="fab fa-twitter white-text fa-lg"> </i></a>
        <!--Google +-->
        <a class="fa-lg p-2 m-2 gplus-ic"><i class="fab fa-google-plus-g white-text fa-lg"> </i></a>
      </div>

    </div>

  </div>
  <!--/Form without header-->

</section>
<!--Section: Live preview-->
</body>
</html>