<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    <!--main start -->
  <style type="text/css">
    .w3-sidebar h3{
      margin-left:150px;
      margin-top: 20px
    }
  </style>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
      <h1>C I R C U I T A T I O N </h1>
      <h4>A Circuit Designing And Simulation Website</h4> 
</div>
<div>
 <nav class="navbar navbar-expand-sm aa bg-primary navbar-dark ">
        <ul class="navbar-nav">
          <li class="nav-item">
          <a class="nav-link text-white" href="c:/project/first.html">MAIN PAGE </a>
          </li>
          <li class="nav-item">
          <a class="nav-link text-white" href="c:/project/second.html">RESET</a>
          </li>
          <li class="nav-item ">
          <a class="nav-link text-white" href="c:/project/first.html">LOGOUT</a>
          </li>
        </ul>
    </nav>
</div>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <center>&nbsp;&nbsp;&nbsp;<h3 class="w3-bar-item">NOTIFICATION</h3></center><br><br>
  <div class="w3-container w3-blue">
  <center><h2>Output Form</h2></center>
</div><br><br>

<form class="w3-container">
   <fieldset disabled>
    <div class="form-group">
      <label for="disabledTextInput">Input</label>
      <input type="text" id="Input1" class="form-control" placeholder="Input">
    </div>
    <fieldset disabled>
    <div class="form-group">
      <label for="disabledTextInput">Input</label>
      <input type="text" id="Input2" class="form-control" placeholder="Input">
    </div>
 <fieldset disabled>
    <div class="form-group">
      <label for="disabledTextInput">Output</label>
      <input type="text" id="Output" class="form-control" placeholder="Output">
    </div>
</form>
</div>

<!-- Page Content -->
<div style="margin-left:25%">

<div class="w3-container">
  <h1></h1>

</div>

 <div class="container border">
<br>
<br>

 <img src="C:\cir\cir\VCOMB..png" alt="Workplace" usemap="#workmap" width="1124" height="591">
      <map name="workmap">

      
        <area shape="rect" coords="185,58,250,135"  href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Diode 1"  >
  <area shape="rect" coords="185,157,248,238" href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Diode 2"  >
  <area shape="rect" coords="180,345,241,423" href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Diode 3"  >
  <area shape="rect" coords="185,440,250,525" href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Diode 4"  >
  <area shape="rect" coords="595,0,650,64"    href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Diode 5"  >
  <area shape="rect" coords="598,520,653,589" href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Diode 6"  >

        <area shape="rect" coords="703,112,765,175" href="#"  data-placement="top" data-toggle="popover"  data-trigger="focus" title="Resistor 1" data-content="value=  ohms">
  <area shape="rect" coords="695,200,772,260" href="#"  data-placement="top" data-toggle="popover"  data-trigger="focus" title="Resistor 2" data-content="value=  ohms">
        <area shape="rect" coords="695,310,765,376" href="#"  data-placement="top" data-toggle="popover"  data-trigger="focus" title="Resistor 3" data-content="value=  ohms">
  <area shape="rect" coords="704,400,769,465" href="#"  data-placement="top" data-toggle="popover"  data-trigger="focus" title="Resistor 4" data-content="value=  ohms">

         <area shape="rect" coords="329,165,385,232" href="#" data-placement="top"   data-toggle="popover"  data-trigger="focus" title="Capacitor 1" data-content="value= 10 ohms" >
   <area shape="rect" coords="328,357,388,426" href="#" data-placement="top"   data-toggle="popover"  data-trigger="focus" title="Capacitor 2" data-content="value= 10 ohms" >
   <area shape="rect" coords="413,164,467,231" href="#" data-placement="top"   data-toggle="popover"  data-trigger="focus" title="Capacitor 3" data-content="value= 10 ohms" >
   <area shape="rect" coords="412,357,470,422" href="#" data-placement="top"   data-toggle="popover"  data-trigger="focus" title="Capacitor 4" data-content="value= 10 ohms" >
  <area shape="rect" coords="477,163,530,229"  href="#" data-placement="top"   data-toggle="popover"  data-trigger="focus" title="Capacitor 5" data-content="value= 10 ohms" >
  <area shape="rect" coords="476,357,535,422"  href="#" data-placement="top"   data-toggle="popover"  data-trigger="focus" title="Capacitor 6" data-content="value= 10 ohms" >
  <area shape="rect" coords="601,201,663,263"  href="#" data-placement="top"   data-toggle="popover"  data-trigger="focus" title="Capacitor 7" data-content="value= 10 ohms" >
    <area shape="rect" coords="599,327,662,385"  href="#" data-placement="top"   data-toggle="popover"  data-trigger="focus" title="Capacitor 8" data-content="value= 10 ohms" >
  <area shape="rect" coords="805,164,865,231"  href="#" data-placement="top"   data-toggle="popover"  data-trigger="focus" title="Capacitor 9" data-content="value= 10 ohms" >
  <area shape="rect" coords="804,356,865,424"  href="#" data-placement="top"   data-toggle="popover"  data-trigger="focus" title="Capacitor 10" data-content="value= 10 ohms" >
  <area shape="rect" coords="883,164,945,230"  href="#" data-placement="top"   data-toggle="popover"  data-trigger="focus" title="Capacitor 11" data-content="value= 10 ohms" >
  <area shape="rect" coords="882,358,950,423"  href="#" data-placement="top"   data-toggle="popover"  data-trigger="focus" title="Capacitor 12" data-content="value= 10 ohms" >
  
  <area shape="rect" coords="68,182,138,370"     href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Transformer"  >

  <area shape="rect" coords="0,230,56,355"       href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Power Supply"  >

  <area shape="rect" coords="980,290,1025,366"   href="#" data-placement="top"  data-toggle="popover" data-trigger="focus"  title="Earthing"  >

  <area shape="rect" coords="1030,257,1080,360"  href="#" data-placement="top"  data-toggle="popover" data-trigger="focus"  title="Load"  >

  
  <area shape="rect" coords="566,65,685,144"    href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Voltage Regulator"  >
  <area shape="rect" coords="565,440,685,525"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Voltage Regulator"  >

  <area shape="rect" coords="1060,130,1122,90"  href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Positive Output"  >

  <area shape="rect" coords="1065,465,1121,502" href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Negative Output"  >
      </map>
</div>
 <script type="text/javascript">
    $(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
      
});
</script>

      
</body>
</html>