<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    <!--main start -->
  <style type="text/css">
    .w3-sidebar h3{
      margin-left:150px;
      margin-top: 20px
    }
  </style>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
      <h1>C I R C U I T A T I O N </h1>
      <h4>A Circuit Designing And Simulation Website</h4> 
</div>
<div>
 <nav class="navbar navbar-expand-sm aa bg-primary navbar-dark ">
        <ul class="navbar-nav">
          <li class="nav-item">
          <a class="nav-link text-white" href="c:/project/first.html">MAIN PAGE </a>
          </li>
          <li class="nav-item">
          <a class="nav-link text-white" href="c:/project/second.html">RESET</a>
          </li>
          <li class="nav-item ">
           <a class="nav-link text-white" href="c:/project/first.html">LOGOUT</a>
           </li>
        </ul>
    </nav>
</div>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <center>&nbsp;&nbsp;&nbsp;<h3 class="w3-bar-item">NOTIFICATION</h3></center><br><br>
  <div class="w3-container w3-blue">
  <center><h2>Output Form</h2></center>
</div><br><br>

<form class="w3-container">
   <fieldset disabled>
    <div class="form-group">
      <label for="disabledTextInput">Input</label>
      <input type="text" id="Input1" class="form-control" placeholder="Input">
    </div>
    <fieldset disabled>
    <div class="form-group">
      <label for="disabledTextInput">Input</label>
      <input type="text" id="Input2" class="form-control" placeholder="Input">
    </div>
 <fieldset disabled>
    <div class="form-group">
      <label for="disabledTextInput">Output</label>
      <input type="text" id="Output" class="form-control" placeholder="Output">
    </div>
</form>
</div>

<!-- Page Content -->
<div style="margin-left:25%">

<div class="w3-container">
  <h1></h1>

</div>

 <div class="container border">
<br>
<br>

<img src="C:\cir\cir\VN337.png" alt="Workplace" usemap="#workmap" width="1124" height="591">
      <map name="workmap">
      
        <area shape="rect" coords="317,15,362,81" href="#" data-placement="top"    data-toggle="popover" data-trigger="focus"title="Diode 1"  >
  <area shape="rect" coords="419,15,463,81" href="#" data-placement="top"    data-toggle="popover" data-trigger="focus"title="Diode 2"  >
  <area shape="rect" coords="313,170,357,238" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus"title="Diode 3"  >
  <area shape="rect" coords="418,170,461,238" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus"title="Diode 4"  >
  <area shape="rect" coords="818,512,867,580" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus"title="Diode 5"  >

        <area shape="rect" coords="893,169,949,240" href="#"  data-placement="top" data-toggle="popover" data-trigger="focus"title="Resistor 1" data-content="value=  ohms">
  <area shape="rect" coords="894,331,942,396" href="#"  data-placement="top" data-toggle="popover" data-trigger="focus"title="Resistor 2" data-content="value=  ohms">

      <area shape="rect" coords="620,255,650,320" href="#" data-placement="top"     data-toggle="popover" data-trigger="focus" title="Capacitor 1" data-content="value= 10 ohms" >
   <area shape="rect" coords="682,255,716,320" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Capacitor 2" data-content="value= 10 ohms" >
   <area shape="rect" coords="828,192,861,257" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Capacitor 3" data-content="value= 10 ohms" >
   <area shape="rect" coords="971,255,999,319" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Capacitor 4" data-content="value= 10 ohms" >
  <area shape="rect" coords="748,255,779,319" href="#" data-placement="top"   data-toggle="popover" data-trigger="focus" title="Capacitor 5" data-content="value= 10 ohms" >
  
  <area shape="rect" coords="94,202,169,302" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Transformer"  >

  <area shape="rect" coords="3,199,62,324" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Power Supply"  >

  <area shape="rect" coords="692,73,742,130" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus"  title="Earthing"  >

  <area shape="rect" coords="1085,256,1120,319" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Load"  >

  
  <area shape="rect" coords="781,382,907,478" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Voltage Regulator"  >
      </map>
</div>
 <script type="text/javascript">
    $(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
      
});
</script>

      
</body>
</html>